@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>index</title>
</head>
<body>
    <div>
        Razor Hello world (@ViewBag.Information)
    </div>
</body>
</html>
