@page "/wiki/add/{title?}"
@model velociraptor.Pages.AddModel
@{
    ViewData["Title"] = "Add";
}

<p class="display-3">@ViewData["Title"]</p>

<form method="post">
    <br/>
    <div class="input-group flex-nowrap">
        <input type="text" class="form-control" placeholder="Article title" asp-for="Title" aria-describedby="addon-wrapping">
    </div>
    <br/>
    <input type="submit" class="btn btn-primary"/>
</form>

