@page "/wiki/{title}"
@model velociraptor.Pages.ViewModel
@{
    ViewData["Title"] = @Model.Article.Title;
}

<p class="display-3">@ViewData["Title"]</p> 
<p><a href="@Model.EditLink">Edit</a></p>

<form method="post">
    <div class="lead">
        @Model.Article.Text
    </div>
</form>