@page "/wiki/{title}"
@model velociraptor.Pages.ViewModel
@{
    ViewData["Title"] = @Model.Article.Title;
}

<p>
    <span class="display-3">@ViewData["Title"]</span>
    <a href="@Model.EditLink">Edit</a>
</p> 

<form method="post">
    <div class="lead">
        @Model.Article.Text
    </div>
</form>