html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.table {
    display: flex;
    flex-flow: row wrap;
}

.column {
    flex: 1 0 50%;
}

.dense-text {
    line-height: 1.2;
}

.top-space {
    margin-top: 40px;
}

.deleted-text {
    background-color: red;
}

.inserted-text {
    background-color: green;
}

.left-space {
    margin-left: 12px;
}

.normal-link {
    font-size: 26px;
    font-weight: 300;
}

a, u {
    text-decoration: none;
}